/* TODO: improve aesthetic. */
* {
    box-sizing: border-box;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    width: 60%;
    float:right;
    text-align: center;
    display:flex;
    justify-content:center;
    
    -webkit-flex: auto;
    flex:auto;
    flex-wrap: wrap;
   /* float: left;
    position: fixed;*/
}

.tab button {
    background-color: #0050c0;
    text-align: center;
    border: 3px #111;
    outline: 2px #111;
    cursor: pointer;
    padding: 12px 24px;
    transition: 0s;
    border-radius: 10px 10px 0 0;

}

.tab button:hover {
    background-color: #001090;
}
.tab button.active {
    background-color: #4080f0
}
.list {
    height:500px;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 100px;
    bottom: 150px;
    left: 20px;
    background-color: #D0D0D0;
    overflow-x: hidden;
    border-radius: 30px;

}
.list button {
    height: 40px;
    width: 40px;
    background-color: #0050c0;
    padding: 2px 2px;
    outline: none;
    border:none;
    
}
.list button:hover {
    background-color: #001090;

}
.list img {
    display: inline-block;

}
.tally {
    height: 50px;
    width: 30%;
    position: fixed;
    top: 605px;
    left: 20px;
    background-color: #D0D0D0;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 15px 20px;
}
.tabcontent {
    display: block;
    border: 1px solid #ccc;
    border-top: none;    
    width: 60%;
    float: right;

}
.listcontent{
    width: 100%;
    display: block;
    border-bottom: 2px solid #000;
    margin: 20px 20px;

}
.tabcontent input {
    width: 25px;
}
.tabcontent button {
    padding: 5px 5px;
    background-color: #C03030;
}
.tabcontent button:hover {
    background-color: #E05050;
}
.icon {
    float: left;
    width: 100%;
}
.icon img {
    width: 100%;
    height: 100%;
}
.desc {
    float: right;
    width: 100%;
}